<h2>Your images</h2>

<% if @images.any? %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>File size</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><%= link_to image.attachment_file_name, image.attachment.url %></td>
          <td><%= converted_file_size(image.attachment_file_size) %></td>
          <td><%= image.created_at %></td>
          <td><%= link_to 'Delete', image_path(image), :method => 'delete', :data => {:confirm => 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't have any images yet.</p>
<% end %>

<p><%= link_to 'Upload an image', new_image_path %></p>
