<!DOCTYPE html>
<html>
<head>
  <title>Kittenstore</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Kittenstore', root_path, :class => 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Images", images_path %></li>
        <% end %>
        </ul>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="<%= account_path %>">
              <%= image_tag current_user.profile_image, :class => 'profile_image' %>
              <%= current_user.name %>
            </a>
          </li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>



  <div class="row">
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
  <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>

    <%= yield %>
  </div>

</body>
</html>
